.task-container{
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;

}

.task-title{
    font-weight: bold;
    cursor: pointer;
}

.task-btn{
    background-color: #444;
    color: chartreuse;
    cursor: pointer;
    position: static;
    border: none;
}
